<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ITCEAP</title>
</head>
<body>
    <h1>Category</h1>

    <form action="/filtrar" method="">
        <div>
            <label for="nome">nome</label>
            <input type="checkbox" name="nome">
        </div>
        <br>
        <div>
            <label for="predio">predio</label>
            <input type="checkbox" name="predio">
        </div>
        <br>
        <div>
            <label for="sala">sala</label>
            <input type="checkbox" name="sala">
        </div>
        <br>
        <div>
            <label for="quantidade">quantidade</label>
            <input type="checkbox" name="quantidade">
        </div>
        <br>
        <button type="submit">Filtrar</button>
    </form>
</body>
</html>