<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/modal.css">
    <title>Update</title>
</head>
<body>
    <!--  MODAL  -->
    <div id="modal" class="hide">
        <div class="modal_update">
            <h1>Update Itens</h1>
            <hr>
            <br>
            <form action="/" method="POST">

                <select name="update-select"></select>
                <option value="opcao"></option>
                
            <div>
                <input type="url" name="img" placeholder="Link da Imagem">
                <input type="text" name="Nome" placeholder="Nome">               
                <input type="text" name="Predio" placeholder="Prédio">
                <input type="text" name="Sala" placeholder="Sala">
                <input type="text" name="Quantidade" placeholder="Quantidade">
            </div>
                
                <a href="#" onclick="onOff()">Voltar</a>
                <button type="submit" class="button">Atualizar</button>

            </form>
        </div>
    </div>
    <script src="/modal.js"></script>
</body>
</html>